[user]
  name = Laurent Quillerou
  email = laurent.quillerou@gmail.com

[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig

[alias]
  a = add
  aa = add --all
  b = branch
  ba = branch -a
  c = clone
  ci = commit -a
  cim = commit -a -m
  co = checkout
  com = checkout main
  d = diff
  f = fetch -p
  fix = rbi HEAD~2
  fixb = rbi origin
  l = log
  lg = log --graph --pretty=oneline
  lga = log --graph --decorate --all
  lgb = log --graph --pretty=oneline origin^..HEAD
  ls = log --stat
  m = merge
  p = pull
  ph = push
  r = remote
  rb = rebase
  rbi = rebase -i
  rpsh = rev-parse --short HEAD
  st = status
  sta = stash
  t = tag
  unstage = reset HEAD
  wup = log -p

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = true

[core]
  editor = vim
  excludesfile = ${HOME}/.gitignore
  autocrlf = input

[diff]
  colorMovedWS = ignore-all-space
  colorMoved = zebra

[fetch]
  prune = true

[inspector]
  file-types = java,c,cpp,h,hpp,py,glsl,rb,js,sql,xml,md,txt,csv,lock,example,json,scss,php,yml,css
  list-file-types = true
  metrics = true
  responsibilities = true
  timeline = true

[pull]
  rebase = true

[push]
  autoSetupRemote = true

[rebase]
  autoStash = true
