[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-terraform"]
	path = .vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
