---
- name: Debian - Add jellyfin repositories
  ansible.builtin.deb822_repository:
    name: jellyfin
    types: deb
    uris: "https://repo.jellyfin.org/{{ ansible_facts['distribution'] | lower }}"
    suites: "{{ ansible_facts['distribution_release'] }}"
    components: "main"
    architectures: amd64
    signed_by: https://repo.jellyfin.org/jellyfin_team.gpg.key
  when: ansible_facts["os_family"] == 'Debian'

- name: Debian - Install jellyfin packages
  ansible.builtin.apt:
    name:
      - jellyfin
    state: present
    update_cache: yes
  when: ansible_facts["os_family"] == 'Debian'
