---
- name: Alpine - Update all packages to the latest version
  community.general.apk:
    available: true
    update_cache: true
    upgrade: true
  when: ansible_facts["os_family"] == 'Alpine'

- name: Alpine - Update all packages to the latest version
  community.general.apk:
    name:
      - curl
      - git
      - htop
      - open-vm-tools
      - prometheus-node-exporter
      - tmux
      - vim
      - zsh
    state: latest
    update_cache: true
  when: ansible_facts["os_family"] == 'Alpine'

- name: Debian - Update all packages to the latest version
  ansible.builtin.apt:
    cache_valid_time: 3600
    upgrade: full
  when: ansible_facts["os_family"] == 'Debian'

- name: Debian - Remove dependencies that are no longer required
  ansible.builtin.apt:
    autoremove: yes
    purge: yes
  when: ansible_facts["os_family"] == 'Debian'

- name: Debian - Clear cache
  ansible.builtin.apt:
    autoclean: yes
  when: ansible_facts["os_family"] == 'Debian'

- name: Debian - Install base packages
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - git
      - gnupg-agent
      - htop
      - open-vm-tools
      - prometheus-node-exporter
      - tmux
      - unattended-upgrades
      - vim-nox
      - zsh
    state: present
    update_cache: yes
  when: ansible_facts["os_family"] == 'Debian'

- name: Check if reboot is needed
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: system_stat_reboot_required

- name: Reboot
  ansible.builtin.reboot:
    post_reboot_delay: 30
    reboot_timeout: 120
  when: system_stat_reboot_required.stat.exists and not inventory_hostname in groups['data']
