#!/usr/bin/env zsh
alias a=alias

# Detect which `ls` flavor is in use
case `uname -s` in
	Linux)
		LSFLAGS='--color=auto --group-directories-first'
		APT=`which apt-get`
		if [ -x ${APT} ]; then
			a ac='apt-cache'
			a ag='apt-get'
			a up='ag update && ag -y upgrade && ag -y dist-upgrade && ag autoclean && ag --purge autoremove'
		else
			a y='yum'
			a yi='y install'
			a ys='y search'
			a yu='y update'
		fi
		;;
	Darwin)
		LSFLAGS='-G'
		;;
	OpenBSD)
		a maj='cd /usr; cvs -d$CVSROOT up -rOPENBSD_`uname -r | tr '.' '_'` -P src ports'
		a up='pkg_add -ui -F update -F updatedepends'
		;;
	FreeBSD)
		a maj='portsnap fetch update'
		a up='pkg update && pkg upgrade'
		;;
esac

# Aliases
a ..='cd ..'
a ...='cd ../..'
a ....='cd ../../..'
a .....='cd ../../../..'
a c='clear'
a cd..='cd ..'
a cp='cp -Ri'
a d='dirs -v'
a df='df -h'
a du='du -h'
a e='emacs'
a f='finger'
a g='git'
a gl='g log --graph --decorate --all'
a grep='egrep'
a gpass='openssl rand -base64 10'
a gurl='curl --compressed'
a h='history'
a ip='dig +short myip.opendns.com @resolver1.opendns.com'
a j='jobs'
a l='ls -l'
a la='ls -lA'
a ls="ls -h ${LSFLAGS}"
a m='make'
a mv='mv -i'
a rm='rm -Ri'
a rot13='tr a-zA-Z n-za-mN-ZA-M'
a rsync='rsync -a --progress'
a sc='screen'
a scp='scp -r'
a svc='svn ci'
a svo='svn co'
a svu='svn up'
a t='tmux'
a tf='terraform'
a tff='terraform fmt'
a tl='t list-sessions'
a v='vault'
a vi='vim'
a whoise='whois -h whois-servers.net'

