#!/usr/bin/env zsh
alias a=alias

# Detect which `ls` flavor is in use
case `uname -s` in
  Linux)
    LSFLAGS='--color=auto --group-directories-first'
    APT=`which apt`
    if [ -x ${APT} ]; then
      a up='apt update && apt -y upgrade && apt -y dist-upgrade && apt autoremove --purge'
    else
      a y='yum'
      a yi='y install'
      a ys='y search'
      a yu='y update'
    fi
    ;;
  Darwin)
    LSFLAGS='-G'
    ;;
  OpenBSD)
    a maj='cd /usr; cvs -d$CVSROOT up -rOPENBSD_`uname -r | tr '.' '_'` -P src ports'
    a up='pkg_add -ui -F update -F updatedepends'
    ;;
  FreeBSD)
    a maj='portsnap fetch update'
    a up='pkg update && pkg upgrade'
    ;;
esac

# Aliases
a ..='cd ..'
a ...='cd ../..'
a ....='cd ../../..'
a .....='cd ../../../..'
a ap='ansible-playbook'
a al='ansible-lint'
a c='clear'
a cd..='cd ..'
a cp='cp -Ri'
a d='dirs -v'
a df='df -h'
a dk='docker'
a du='du -h'
a e='emacs'
a f='finger'
a g='git'
a gl='g log --graph --decorate --all'
a grep='egrep --color=auto'
a gen-pass='openssl rand -base64 10'
a h='history'
a j='jobs'
a k='kubectl'
a ka='kubectl apply'
a kd='kubectl describe'
a ke='kubectl edit'
a kg='kubectl get'
a kl='kubectl logs'
a kpf='kubectl port-forward'
a l='ls -l'
a la='ls -lA'
a ls="ls -h ${LSFLAGS}"
a m='make'
a mv='mv -i'
a myip='dig +short myip.opendns.com @resolver1.opendns.com'
a pipup="pip list --outdated --format=freeze | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip install -U --user"
a pip3up="pip3 list --outdated --format=freeze | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip3 install -U --user"
a rm='rm -Ri'
a rot13='tr a-zA-Z n-za-mN-ZA-M'
a rsync='rsync -a --progress'
a sc='screen'
a scp='scp -r'
a t='tmux'
a tf='terraform'
a tfa='tf apply -auto-approve'
a tfc='tf console'
a tfd='tf destroy'
a tfda='tfd -auto-approve'
a tfe='tf env'
a tff='tf fmt'
a tfg='tf get -update=true'
a tfi='tf init'
a tfiu='tfi -upgrade'
a tfp='tf plan'
a tfv='tf validate'
a tfw='tf workspace'
a tl='t list-sessions'
a v='vault'
a vi='vim'
a whoise='whois -h whois-servers.net'

