---
- name: Debian - Add docker repositories
  ansible.builtin.deb822_repository:
    name: docker
    types: deb
    uris: "https://download.docker.com/linux/{{ ansible_facts['distribution'] | lower }}"
    suites: "{{ ansible_facts['distribution_release'] }}"
    components: stable
    architectures: amd64
    signed_by: https://download.docker.com/linux/{{ ansible_facts['distribution'] | lower }}/gpg
  when: ansible_facts["os_family"] == 'Debian'

- name: Debian - Install docker packages
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-compose-plugin
      - python3-docker
    state: present
    update_cache: yes
  when: ansible_facts["os_family"] == 'Debian'

- name: Create docker config dir
  ansible.builtin.file:
    path: /etc/docker
    state: directory
    mode: "0755"

- name: Set docker config
  ansible.builtin.template:
    src: daemon.json.j2
    dest: /etc/docker/daemon.json
    mode: "0644"
  notify:
    - Restart docker
